.fileGetButton {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border-width: 0px;
  border-style: solid;
  outline: 2px solid var(--color-zinc-300);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-zinc-200);
  cursor: pointer;
}

.fileGetButton:hover {
  outline: 2px solid var(--color-sky-600);
  background-color: var(--color-sky-200);
}

.fileGetButtonIcon {
  width: 24px;
  height: 24px;
  stroke: var(--color-sky-800);
};

.fileGetButtonIcon:hover {
  stroke: var(--color-sky-600);
};