.voice {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  margin-left: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  z-index: 10;
}

.voiceWindow {
  display: flex;
  margin-bottom: 0.75rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: calc(100vh - 120px);
  width: calc(100vw - 612px);
}

.voiceControl {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.voiceButton {
  background-color: var(--color-zinc-100);
  color: var(--color-zinc-800);
  border: solid 1px var(--color-zinc-300);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.voiceOn {
  background-color: var(--color-red-100);
  color: var(--color-red-800);
  border: solid 1px var(--color-red-300);
}

.settingsButton {
  background-color: var(--color-zinc-100);
  color: var(--color-zinc-400);
  border: solid 1px var(--color-zinc-300);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.settingsOn {
  color: var(--color-zinc-800);
}

.callButton {
  background-color: var(--color-emerald-100);
  color: var(--color-emerald-400);
  border: solid 1px var(--color-emerald-300);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.callRing {
  animation: ring 3s infinite;
}

.callHangup {
  background-color: var(--color-red-100);
  color: var(--color-red-800);
  border: solid 1px var(--color-red-300);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}

@keyframes ring {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
