.container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 2rem;
  margin-bottom: 6rem;
  background-color: white;
  border: solid 1px var(--color-zinc-300);
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.control {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.textInput {
  display: block;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 0px;
  outline: 2px solid var(--color-zinc-300);
  font-size: large;
  flex-grow: 1;
  width: calc(100% - 16px);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.resetButton {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border-width: 0px;
  border-style: solid;
  outline: 2px solid var(--color-zinc-300);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-zinc-200);
  cursor: pointer;
}

.mediaselect {
  display: block;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 0px;
  outline: 2px solid var(--color-zinc-300);
  font-size: large;
  flex-grow: 1;
}

.mediaselect:focus {
  outline: 2px solid var(--color-zinc-500);
}

.mediaselect:focus-visible {
  outline: 2px solid var(--color-zinc-500);
}