.heroContent {
  background-position: center;
  background-image: url("/images/hero.png");
  background-size: cover;
  image-rendering: high-quality;
  background-blend-mode: multiply;
  background-color: #0c4a6e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--color-zinc-100);
}

.heroTitle {
  font-size: 4.5rem;
  font-weight: 600;
  text-shadow: 3px 3px 3px var(--color-zinc-900);
  margin-bottom: 10px;
}

.heroText {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-shadow: 3px 3px 3px var(--color-zinc-900);
}

.heroSubText {
  font-size: 1.25rem;
  font-weight: 300;
  text-shadow: 3px 3px 3px var(--color-zinc-900);
}

